#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-produto{
  border: 1px solid #695074;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: left;
  background-color: #b295c9;
  color : #fff;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

.campoTexto {
  text-align: left;
  margin: 20px;
  padding: 20px;
  border: 1px solid #918197;
  border-radius: 8px;
  background-color: #e6dcec;
}

.formulario{
   border: 1px solid #695074;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: left;
  background-color: #b295c9;
  color : #fff;
  align-items: center;
}

.botaoEnviar{
  background-color: #695074;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botaoEnviar:hover {
  background-color:  white;
  color: #695074
}

.container-produtos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ddd9c2;
  color:#110a14;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.vitrine-Link{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  color: rgb(255, 174, 0);
  background-color: black;
  text-decoration: none;
  border-radius: 4px;
}
.vitrine-Link:hover {
  background-color: rgb(255, 174, 0);
  color: white;
}